.menu-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.food-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.food-details {
    padding: 10px;
}

.food-details h2 {
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
    color: green;
}

#cart-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.view-cart-btn {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-order-btn {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

/* Список товаров возле навбара */
.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 70px;
    right: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.cart-item img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.cart-item h4 {
    margin: 0;
}


.container {
    width: 80%;
    margin: 0 auto;
}

.cart-section {
    position: relative;
}

.view-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.cart-list {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    width: 300px;
    background-color: #fff;
    color: #000;
}

.cart-list li {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.cart-list img {
    width: 150px;
    /* Регулируйте размер изображения по вашему усмотрению */
    height: 150px;
    /* Регулируйте размер изображения по вашему усмотрению */
    margin-right: 10px;
}

/* При наведении отображать список корзины */
.cart-section:hover .cart-list {
    display: block;
}