<%- include('layout.ejs', {body: ` <div class="about">
    <h1 style="text-align: center;margin-top: 100px;">We are <span style="color: #ff9f0d;">Frencesco</span></h1>
    <h5 style=" text-align: center;margin-top: 60px;">In the year 2024, in the heart of Astana, Kazakhstan, the
        enchanting pizzeria
        "Francesco" opened its doors,
        weaving a tale of culinary excellence. Inspired by fond memories of a rustic pizzeria in the Italian city of
        Naples, the founders embarked on a journey to bring a taste of Italy to Astana.

        "Francesco" endeavors to recreate the ambiance of a traditional Italian pizzeria while infusing it with the
        local flair of Kazakhstan. The founders, driven by a passion for Italian cuisine, envisioned a place where the
        rich heritage of Neapolitan pizzas could harmonize with the vibrant spirit of Astana.

        The pizzeria's success is rooted in a commitment to using only fresh, high-quality ingredients, ensuring that
        each pizza is crafted with love and care. The menu boasts a variety of exquisite pizzas, characterized by thin
        crusts and diverse toppings, captivating the taste buds of locals and visitors alike.

        Fast forward to today, "Francesco" has become a culinary landmark with ten thriving locations across Astana.
        Employing a dedicated team of 200 staff members, the pizzeria continues to grow, serving as a testament to its
        commitment to quality, tradition, and the joy of sharing delightful Italian flavors with the people of
        Kazakhstan.</h5>
    </div>
    `}) %>