<%- include('layout.ejs', {body: ` <style>
    .admin_btn {
    padding: 10px 15px;
    background-color: #ff9f0d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    }

    .admin_btn:hover {
    background-color: #2980b9;
    }

    .admin_btn.button {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2ecc71;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    }

    a.button:hover {
    background-color: #27ae60;
    }


    ul {
    list-style: none;
    padding: 0;
    }

    li {
    display: inline-block;
    margin-right: 20px;
    }

    body.admin-panel {
    background-color: #ecf0f1;
    font-family: Arial, sans-serif;
    text-align: center;
    }

    h1 {
    color: #2c3e50;
    }
    </style>


    <section class="admin" style="margin-top: 100px;">
        <ul>
            <li><a class="admin_btn" href="/food/new">Add Food</a></li>
            <li><a class="admin_btn" href="/admin/delete-user">Delete User</a></li>
        </ul>
    </section>
    `}) %>