<%- include('layout.ejs', {body: ` <div class="about"
    style="display:flex;justify-content:center;flex-direction:column;width:100%;margin-left:140px">
    <h1 style="text-align: center;margin-top: 100px;">Our <span style="color: #ff9f0d;">locations</span></h1>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2506.0758738477084!2d71.41646947523908!3d51.088607241212834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4245845035d46f6b%3A0x4c19a78b6737a282!2sEXPO!5e0!3m2!1sru!2skz!4v1709254831662!5m2!1sru!2skz"
        width="1000" height="750" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
    `}) %>